// Variables
// --------------------------

$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;


$fa-var-folder: "\f001";

$fa-var-level-down: "\f005";

$fa-var-level-up: "\f006";

$fa-var-thumbs-down: "\f00b";

$fa-var-thumbs-up: "\f00c";

$fa-var-key: "\f013";

$fa-var-bell-o: "\f014";

$fa-var-bell-slash-o: "\f015";

$fa-var-bell: "\f016";

$fa-var-cloud-download: "\f017";

$fa-var-cloud-upload: "\f018";

$fa-var-mobile: "\f019";

$fa-var-tablet: "\f01b";

$fa-var-comment: "\f01c";

$fa-var-toggle-off: "\f01d";

$fa-var-toggle-on: "\f01e";

$fa-var-calendar: "\f022";

$fa-var-clock-o: "\f026";

$fa-var-bookmark: "\f027";

$fa-var-archive: "\f02a";

$fa-var-filter: "\f02b";

$fa-var-share: "\f02c";

$fa-var-pencil: "\f02d";

$fa-var-link: "\f02e";

$fa-var-history: "\f02f";

$fa-var-compress: "\f030";

$fa-var-expand: "\f031";

$fa-var-volume-up: "\f032";

$fa-var-pause: "\f033";

$fa-var-play: "\f034";

$fa-var-open-book: "\f035";

$fa-var-th-list: "\f038";

$fa-var-arrows-alt: "\f039";

$fa-var-play-circle: "\f03a";

$fa-var-image: "\f03d";

$fa-var-caret-up: "\f03e";

$fa-var-caret-down: "\f03f";

$fa-var-check: "\f040";

$fa-var-plus: "\f047";

$fa-var-times: "\f048";

$fa-var-search: "\f049";

$fa-var-arrow-up: "\f04a";

$fa-var-arrow-down: "\f04b";

$fa-var-times-circle: "\f04c";

$fa-var-bar-chart: "\f04d";

$fa-var-cog: "\f04e";

$fa-var-globe: "\f04f";

$fa-var-ellipsis-v: "\f050";

$fa-var-circle-o: "\f051";

$fa-var-plus-circle: "\f052";

$fa-var-minus-circle: "\f053";

$fa-var-check-circle: "\f054";

$fa-var-user: "\f055";

$fa-var-users: "\f056";

$fa-var-lock: "\f057";

$fa-var-apple: "\f058";

$fa-var-star: "\f059";

$fa-var-sort: "\f05a";

$fa-var-print: "\f05b";

$fa-var-question-circle: "\f05c";

$fa-var-exclamation-circle: "\f05e";

$fa-var-info-circle: "\f05f";

$fa-var-dropbox: "\f060";

$fa-var-circle-o-notch: "\f061";

$fa-var-plug: "\f062";

$fa-var-chevron-left: "\f064";

$fa-var-chevron-up: "\f065";

$fa-var-chevron-right: "\f066";

$fa-var-chevron-down: "\f067";

$fa-var-exclamation-triangle: "\f069";

$fa-var-desktop: "\f06a";

$fa-var-info: "\f06b";

$fa-var-question: "\f06c";

$fa-var-exclamation: "\f06d";

$fa-var-circle: "\f06e";

$fa-var-download: "\f06f";

$fa-var-bars: "\f070";

$fa-var-shopping-cart: "\f071";

$fa-var-graduation-cap: "\f072";

$fa-var-trash: "\f073";

